<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录内部系统 - 翼灵</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="h2">内部系统登录入口</h1>
        <h2 class="h5">Sign in Internal System</h2>
        <div class="yl-intro">
            <p>使用翼灵 ID 可以登录以下系统</p>
        </div>

    </div>
</body>

</html>